{% extends "website/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="h-100 p-5 bg-light border rounded-3">
        <div class="section-inner clearfix">
            <h1 class="d-inline">Profile Details</h1>
            <a class="text-primary" href="{% url 'website:profile_update' %}">Update</a>

            {% if messages %}
            <ul class="text-danger">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <ul>
                <li>First Name: {{ request.user.first_name|default:"NA" }}</li>
                <li>Last Name: {{ request.user.last_name|default:"NA" }}</li>
                <li>Email: {{ request.user.email|default:"NA" }}</li>
                <li>SuperUser: {{ request.user.is_superuser }}</li>
                <li>Staff: {{ request.user.is_staff }}</li>
                <li>Date Joined: {{ request.user.date_joined }}</li>
                <li>Last Login: {{ request.user.last_login }}</li>
            </ul>


        </div>
    </div>
</div>
{% endblock %}
